.semaforo{
    background-color: black;
    padding: -5px;
    display: inline-block;
    
}

.light{
    border-radius: 50%;
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.glow{
    box-shadow: 0 0 50px #f8f9fa;
}
